.wrapper {
    height: 500px;
    background-color: aquamarine;
}


.main {
    display: flex;
    height: 100%;
    width: 90%;

    margin: 0 auto;
}

.sidebar {
    width: 20%;
    background-color: blanchedalmond;
    margin-left: 80px;
    text-align: left;
    padding-left: 20px;
}

.userpage {
    width: 70%;
    background-color: yellow;
}

.title {
    display: flex;

    width: 100%;
    border: 1px solid red;
}

.title h1 {
    margin-left: 20px;
}

.title select {
    margin-left: 50px;
    /*vertical-align: middle;*/
}

.select {
    display: flex;
    height: 60%;
    margin-top: 35px;
}

.select select {
    font-size: 20px;
}



.search {
    height: 100px;
    width: 100%;
    border: 1px solid blueviolet;
}

.users {
    height: 100px;
    width: 100%;
    border: 1px solid blueviolet;
}
